<div class="sungrow-container {{ 'sungrow-compact' if config.compactMode }}">
  <br>
  {% block pv_installation %}
    <!-- PV installation graph -->
  {% endblock %}

  {% if dayEnergyData %}
    {% if config.compactMode %}
        <div class="sungrow-row sungrow-border-bottom">
          <div class="sungrow-col sungrow-align-self-center xsmall">
            <div class="sungrow-container">
              <div class="sungrow-row">
                <div class="sungrow-col sungrow-text-align-left time light">{{ "PRODUCTION" | translate }}</div>
                <div class="sungrow-col sungrow-text-align-right title bright">{{ dayEnergyData.production }} kWh</div>
                <div class="sungrow-col"></div>
                <div class="sungrow-col sungrow-text-align-left time light">{{ "CONSUMPTION" | translate }}</div>
                <div class="sungrow-col sungrow-text-align-right title bright">{{ dayEnergyData.consumption }} kWh</div>
              </div>
              <div class="sungrow-row">
                <div class="sungrow-col sungrow-text-align-left time light">{{ "FEED_IN" | translate }}</div>
                <div class="sungrow-col sungrow-text-align-right title bright">{{ dayEnergyData.feedIn }} kWh</div>
                <div class="sungrow-col"></div>
                <div class="sungrow-col sungrow-text-align-left time light">{{ "PURCHASED" | translate }}</div>
                <div class="sungrow-col sungrow-text-align-right title bright">{{ dayEnergyData.purchased }} kWh</div>
              </div>
              <div class="sungrow-row">
                <div class="sungrow-col sungrow-text-align-left time light">{{ "SELF_CONSUMPTION" | translate }}</div>
                <div class="sungrow-col sungrow-text-align-right title bright">{{ dayEnergyData.selfConsumption }} kWh</div>
                <div class="sungrow-col"></div>
                <div class="sungrow-col"></div>
                <div class="sungrow-col"></div>
              </div>
            </div>
          </div>
      </div>
    {% else %}
      <div class="sungrow-row sungrow-border-bottom">
        <div class="sungrow-col sungrow-align-self-center">
          <div class="sungrow-container">
            <div class="sungrow-row">
              <div class="sungrow-col sungrow-text-align-left time light">{{ "PRODUCTION" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ dayEnergyData.production }} kWh</div>
            </div>
            <div class="sungrow-row">
              <div class="sungrow-col sungrow-text-align-left time light">{{ "CONSUMPTION" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ dayEnergyData.consumption }} kWh</div>
            </div>
            <div class="sungrow-row">
              <div class="sungrow-col sungrow-text-align-left time light">{{ "PURCHASED" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ dayEnergyData.purchased }} kWh</div>
            </div>
            <div class="sungrow-row">
              <div class="sungrow-col sungrow-text-align-left time light">{{ "FEED_IN" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ dayEnergyData.feedIn }} kWh</div>
            </div>
            <div class="sungrow-row">
              <div class="sungrow-col sungrow-text-align-left time light">{{ "SELF_CONSUMPTION" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ dayEnergyData.selfConsumption }} kWh</div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if lifeTimeData %}
    {% if config.compactMode %}
      <div class="sungrow-row sungrow-border-bottom xsmall">
        <div class="sungrow-col sungrow-align-self-center">
          <div class="sungrow-container">
            <div class="sungrow-row">
              <div class="sungrow-col sungrow-text-align-left time light">{{ "TODAY" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ lifeTimeData.today }} kWh</div>
              <div class="sungrow-col"></div>
              <div class="sungrow-col sungrow-text-align-left time light">{{ "THIS_MONTH" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ lifeTimeData.this_month }} kWh</div>
            </div>
            <div class="sungrow-row">
              <div class="sungrow-col sungrow-text-align-left time light">{{ "THIS_YEAR" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ lifeTimeData.this_year }} kWh</div>
              <div class="sungrow-col"></div>
              <div class="sungrow-col"></div>
              <div class="sungrow-col"></div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="sungrow-row sungrow-border-bottom">
        <div class="sungrow-col sungrow-align-self-center">
          <div class="sungrow-container">
            <div class="sungrow-row">
              <div class="sungrow-col sungrow-text-align-left time light">{{ "TODAY" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ lifeTimeData.today }} kWh</div>
            </div>
            <div class="sungrow-row">
              <div class="sungrow-col sungrow-text-align-left time light">{{ "THIS_MONTH" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ lifeTimeData.this_month }} kWh</div>
            </div>
            <div class="sungrow-row">
              <div class="sungrow-col sungrow-text-align-left time light">{{ "THIS_YEAR" | translate }}</div>
              <div class="sungrow-col sungrow-text-align-right title bright">{{ lifeTimeData.this_year }} kWh</div>
            </div>
          </div>
        </div>  
      </div> 
    {% endif %}
  {% endif %}

</div>
